{% extends "BasePage.html" %}
{% load static %}
{% block title %}TRANSPORTATION{% endblock %}
{% block more-style %}
<link rel="stylesheet" href="{% static 'CSS/Transportation/Bike.css/PublicBike.css' %}">
<link rel="stylesheet" href="https://fonts.google.com/specimen/Martian+Mono/tester?preview.text=public&preview.text_type=custom" crossorigin="anonymous"> 
{% endblock %}
{% block content %} 
<div class="body">
    <div class="wrapper">
        <a href="{% url 'CarTickets' %}" class="box">Toyota Axio</a>
        <a href="{% url 'CarTickets' %}" class="box">Honda City </a>
        <a href="{% url 'CarTickets' %}" class="box">Nissan Sunny</a>
        <a href="{% url 'CarTickets' %}" class="box">Mitsubishi Mirage</a>
        <a href="{% url 'CarTickets' %}" class="box">Suzuki Alto</a>
    </div>
</div>
{% endblock %}